* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
#header {
  padding: 20px 0;
  box-shadow: 0 3px 13px grey;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-right button {
  border: 1px solid #e0e0e0;
  width: 78px;
  height: 40px;
  font-size: 13px;
  color: #1d1d1d;
  background: transparent;
}

.header-right ion-icon {
  font-size: 24px;
}
.hero h2 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 25px;
}
.hero input {
  all: initial;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin: 50px 0;
  padding-bottom: 5px;
}
.hero input::placeholder {
  color: #626262;
  font-size: 16px;
}
.about-block {
  margin-bottom: 100px;
}
.about-block h4 {
  color: #1d1d1d;
  font-size: 16px;
  padding-top: 15px;
}
.about-block p {
  color: #626262;
  font-size: 14px;
  padding: 8px 0;
}
.about-block h6 {
  color: #1d1d1d;
  font-size: 13px;
}
.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer {
  background: #262626;
  height: 600px;
  padding: 40px 0;
}
.footer img {
  margin: 20px 0;
}
.info-left select {
  border: none;
  outline: none;
  width: 227px;
  height: 40px;
  background: #3b3b3b;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 35px;
  margin-bottom: 25px;
  position: relative;
}
.span-icon ion-icon {
  position: absolute;
  color: white;
  bottom: -1085px;
  left: 205px;
  z-index: 99;
}
.info-left h4 {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}
.info-left span {
  color: #49a144;
  font-size: 18px;
  margin-right: 5px;
}
.footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 24px;
  color: white;
}
hr {
  margin: 50px 0;
}
.footer-info {
  display: flex;
  align-items: start;
  gap: 120px;
}
.footer p {
  color: white;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}
.store1 {
  width: 120px;
  height: 40px;
  border-radius: 6px;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid white;
}
.store1 h5 {
  font-size: 10px;
}
.store1 ion-icon {
  font-size: 24px;
  padding: 0 6px;
}
.store {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.footer-end {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
}
.footer-end button {
  width: 90px;
  height: 100px;
  background: #57ad56;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 36px;
  margin-top: -70px;
  font-weight: 700;
}
